* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: url(../img/site-bg.png) no-repeat top;
    background-size: cover;
}

.pads {
    background-color: #bdb9b9;
    border-radius: 3px;
}

.pad {
    position: relative;
    border: .1rem solid #626161;
    border-radius: .3rem;
    font-size: 2rem;
    padding: 1rem .5rem;
    width: 10rem;
    text-align: center;
    color: white;
    background-color: rgba(111, 111, 112, 1);
    background: url(../img/pad-bg-inactive.png) no-repeat center;
    transition: all .07s ease;
    text-shadow: 0 0 .5rem black;
    box-shadow: 0 .3rem .2rem rgba(0,0,0,0.7);
}

kbd, .sound {
	position: absolute;
	left: .3rem;
	bottom: .3rem;
	font-size: 1rem;
	font-family: sans-serif;
}

.sound {
	top: .3rem;
	font-size: 1rem;
	color: #ffc600;
	text-transform: uppercase;
    letter-spacing: .1rem;
}

.playing {
    top: .3rem;
    box-shadow: 0 0 0 black;
    background: url(../img/pad-bg-active1.png) no-repeat center;
}

@media (min-width: 501px) {
    body {
        padding-top: 10rem;
    }
    .pads {
        margin: 0 auto;
        display: block;
        height: 50rem;
        width: 50rem;
        text-align: center;
        box-shadow: 0 0 .5rem black;
    }

    .pad {
        float: left;
        width: 10rem;
        height: 10rem;
        margin-left: 2rem;
        margin-right: 0;
        margin-top: 2rem;
    }
}